{% extends 'annonce/index.html.twig' %}
{% block head %}


{% endblock %}


{% block body %}
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Mes Annonces</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-5">
                    <div class="sidebar blog-sidebar">
                        <div class="sidebar-item  recent">
                            <h3>Date</h3>
                            <form>
                            <div class="form-group">

                                <div class="input-group date form_datetime" data-date=" {{ 'now'|date('Y-m-d') }}" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1">
                                    <input onchange="w3.filterHTML('#annonce', '.single-blog', this.value)" oninput="w3.filterHTML('#annonce', '.date', this.value)" class="form-control input-sm" type="text" value="" readonly>
                                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                </div>
                            </div>
                            </form>

                        </div>

                    </div>
                </div>
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                        <div class="col s4 offset-s4">
                            <button class="btn waves-effect waves-light " onclick="window.location.href = '{{ path('annonce_new') }}'">Nouvelle Annonce
                                <i class="material-icons right">library_add</i>
                            </button>

                        </div>


                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div id="annonce">
                        {% for annonce in annonces %}

                        <div class="col-md-12 col-sm-12">

                            <div  class="single-blog two-column nom">

                                <div class="post-thumb">


                                </div>
                                <div class="post-content overflow"  onclick="window.location.href = '{{ path('annonce_show', { 'id': annonce.idAnnonce, 'veh': annonce.idUser}) }}'">
                                    <h5 class="post-title bold"><a href="{{ path('annonce_show', { 'id': annonce.idAnnonce, 'veh': annonce.idUser}) }}">{{ annonce.lieuDepart  }} <span style="font-size: 80%;" class="glyphicon glyphicon-arrow-right gi-2x" aria-hidden="true"></span> {{ annonce.lieuArrive }}</a></h5>
                                    <div class="col-md-4">
                                    <div class="pull-left center">
                                        <a href="{{ path('annonce_show', { 'id': annonce.idAnnonce, 'veh': annonce.idUser}) }}"><img style="height:100px;width:auto;position: static;" src="{{ asset('AnnonceImg/')}}{{ annonce.idUser.photoProfil }}" class="img-circle center" alt=""></a>
                                        <h3 name="nom" class="post-author center"><a href="#">Posted by {{ annonce.idUser.nom }} {{ annonce.idUser.prenom }}<br>{{ annonce.idUser.nivExperience }}</a></h3>

                                    </div>
                                    </div>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">{{ annonce.tripDate |date("d") }} <br><small>{{ annonce.tripDate |date("M") }}</small></a></span>
                                    </div>
<br>
<div class="col-md-8">
    <div class="hidden andate">{{ annonce.tripDate |date('Y-m-d H:i') }}</div>

    <div class="center">
      <div class="col-md-4" data-countdown="{{ annonce.tripDate |date("m/d/Y H:i") }}">
      </div>
        <div class="col-md-4 col-md-offset-4">
            <h5> <small> Distance: </small>{{ annonce.distance }}</h5>
        </div><br>

        <div class="col-md-4">
            <h5><small> Prix / Personne:</small> {{ annonce.prix }}</h5>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <h5><small>Temps Restant:</small>     {{ annonce.nbrPersonne }}</h5></div>



    </div>
</div>

                                </div>
                                <div class="post-bottom overflow">
                                    <ul class="nav navbar-nav post-nav right">
                                        <li><a href="{{ path('annonce_show', { 'id': annonce.idAnnonce, 'veh': annonce.idUser}) }}" class="read-more">View More</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="divider"></div>

                        </div>

                        {% endfor %}
                        </div>
                    </div>
                    <div class="blog-pagination">
                        {% if maxPages > 1 %}
                            <ul class="pagination pagination-sm">
                                {# `«` arrow  #}
                                <li {{ thisPage == 1 ? 'class="disabled"' }}>
                                    <a href="{{ path('mes_annonce', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                                </li>

                                {# Render each page number #}
                                {% for i in 1..maxPages %}
                                    <li {{ thisPage == i ? 'class="active"' }}>
                                        <a href="{{ path('mes_annonce', {page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}

                                {# `»` arrow #}
                                <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                                    <a href="{{ path('mes_annonce', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('FO/js/jquery.countdown.js')}}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>

    <script type="text/javascript" src="{{ asset('materialize/js/bootstrap-datetimepicker.js')}}"></script>


    <script>
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, a, i;
            input = document.getElementById('myInput');
            //alert(input.value);
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');
            alert(li[0].value);
            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (li.innerHTML.toUpperCase().indexOf(input) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
        $(function () {
            $('.form_datetime').datetimepicker({
                //language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });
        });
        $('[data-countdown]').each(function() {
            var $this = $(this), finalDate = $(this).data('countdown');
            $this.countdown(finalDate, function(event) {
                $this.html(event.strftime('<h6>Temps Restant:<br>%D Jours %H:%M:%S</h6>'));
            });
        });

    </script>
{% endblock %}

