{% extends 'base.html.twig' %} {% block body %}
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58e425c87a13700012a64941&product=inline-share-buttons"></script>

    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58e425c87a13700012a64941&product=inline-reaction-buttons"></script>
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Details du Covoiturage</h1>
                            <p>{{ annonce.lieuDepart }} -> {{ annonce.lieuArrive }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->



    <section id="blog-details" class="padding-top">
        <div class="container">
            <!-- page modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                        </div>
                        <form method="post">

                        <div class="modal-body">
                                <div class="form-group">

                                    <input name="to" type="text" class="form-control" id="recipient-name" hidden>
                                </div>
                            <div class="form-group">
                                <label for="from-name" class="control-label">Sender:</label>
                                <input name="from" type="text" class="form-control" id="from-name">
                            </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Message:</label>
                                    <textarea class="form-control" name="body" id="message-text"></textarea>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Send message</button>
                        </div>
                        </form>

                    </div>
                </div>
            </div>
            <!--/#page modal-->
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="center">
                        {% if is_granted('ROLE_USER') %} {% if annonce.idUser.id == user.id %}
                            <button class="btn waves-effect waves-light" onclick="window.location.href = '{{ path('annonce_edit', { 'id': annonce.idAnnonce }) }}'">Modifier
                                    <i class="material-icons right">edit</i>
                                </button>
                        {% endif %} {% else %}
                            <button class="btn waves-effect waves-light">Signaler
                                <i class="material-icons right">warning</i>
                                <button class="btn waves-effect waves-light">Reserver
                                    <i class="material-icons right">play_for_work</i>
                                </button>
                            </button> {% endif %}

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="single-blog blog-details two-column">

                                <div class="post-thumb">
                                    <div id="map" style="width: inherit; height: 300px"></div>

                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">{{ annonce.tripDate |date("d") }} <br><small>{{ annonce.tripDate |date("M") }}</small></a></span>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <div class="panel panel-default">

                                    <h4 class="post-title bold"><a href="#">{{ annonce.lieuDepart  }} <span style="font-size: 50%;" class="glyphicon glyphicon-arrow-right gi-2x" aria-hidden="true"></span> {{ annonce.lieuArrive }}</a></h4>
                                    <!--<h3 class="post-author"><a href="#">Posted by micron News</a></h3>-->
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <div class="col-xs-9 col-sm-4 col-md-4"><h5><small>Temps Restant:</small></h5></div>


                                                <div class="col-xs-6 col-md-4" data-countdown="{{ annonce.tripDate |date(" m/d/Y H:i ") }}"></div>


                                            </div>
                                            <div class="row">
                                                <div class="col-xs-9 col-sm-4 col-md-4"> <h5> <small> Distance: </small></h5></div>
                                                <div class="col-xs-6 col-md-4"><h5>{{ annonce.distance }}</h5></div>

                                            </div>

                                            <div class="row">
                                                <div class="col-xs-9 col-sm-4 col-md-4"><h5><small> Prix / Personne:</small></h5></div>
                                                <div class="col-xs-6 col-md-4"><h5>{{ annonce.prix }}<small>Dt</small></h5></div>

                                            </div>
                                            <div class="row">
                                                <div class="col-xs-9 col-sm-4 col-md-4"><h5><small>Date Depart:</small></h5></div>
                                                <div class="col-xs-6 col-md-4"><h5>{{ annonce.tripDate |date("m/d/Y H:i") }}</h5></div>
                                               </div>
                                            <div class="row">
                                                <div class="col-xs-9 col-sm-4 col-md-4"><h5><small>Places:</small></h5></div>
                                                <div class="col-xs-6 col-md-4"><h5>{{ annonce.nbrPersonne }}</h5></div>


                                            </div>

                                                <div class="row">
                                                    <div class="col-xs-9 col-sm-4 col-md-4"><h5><small>Details:</small></h5></div>
                                                    <div class="col-xs-6 col-md-4"><img id="img1" src="" alt="">
                                                        <img id="img2" src="" alt="">
                                                        <img id="img3" src="" alt="">
                                                        <img id="img4" src="" alt=""></div>
                                                </div>



                                        </div>
                                    </div>

                                    </div>
                                    <div class="row">
                                        <div class="post-bottom overflow">
                                            <ul class="nav navbar-nav post-nav">

                                                <li>
                                                    <div class="sharethis-inline-reaction-buttons"></div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    {{ socialButtons( { 'facebook': {'url': 'http://www.localhost/symfony/Covoituragetn-web/Covoiturage/web/app_dev.php/Client/annonce/'~ annonce.idAnnonce ~'/khmaies/show'}} ) }}
                                    <div class="author-profile padding">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <img src="{{ asset('AnnonceImg/')}}{{ annonce.idUser.photoProfil }}" alt="">
                                            </div>
                                            <div class="col-sm-10">
                                                <h3>{{ annonce.idUser.nom }} {{ annonce.idUser.prenom }}</h3>
                                                <p>{{ annonce.idUser.nivExperience }}</p>
                                                <a class="btn-floating btn-small waves-effect waves-light red" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ annonce.idUser.email  }}"><i class="material-icons">email</i></a>
                                                <!--<a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>-->

                                            </div>
                                        </div>
                                    </div>
                                    <div class="response-area">
                                        <h2 class="bold">Comments</h2>
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="post-comment">
                                                    <a class="pull-left" href="#">
                                                        <img class="media-object" src="images/blogdetails/2.png" alt="">
                                                    </a>
                                                    <div class="media-body">
                                                        <span><i class="fa fa-user"></i>Posted by <a href="#">Endure</a></span>
                                                        <p>Lreponse.</p>
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="#"><i class="fa fa-clock-o"></i>February 11,2014</a></li>
                                                            <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="parrent">
                                                    <ul class="media-list">
                                                        <li class="post-comment reply">
                                                            <a class="pull-left" href="#">
                                                                <img class="media-object" src="images/blogdetails/3.png" alt="">
                                                            </a>
                                                            <div class="media-body">
                                                                <span><i class="fa fa-user"></i>Posted by <a href="#">Endure</a></span>
                                                                <p>reponse </p>
                                                                <ul class="nav navbar-nav post-nav">
                                                                    <li><a href="#"><i class="fa fa-clock-o"></i>February 11,2014</a></li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="post-comment">
                                                    <a class="pull-left" href="#">
                                                        <img class="media-object" src="images/blogdetails/4.png" alt="">
                                                    </a>
                                                    <div class="media-body">
                                                        <span><i class="fa fa-user"></i>Posted by <a href="#">Endure</a></span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="#"><i class="fa fa-clock-o"></i>February 11,2014</a></li>
                                                            <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <!--/Response-area-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="sidebar blog-sidebar">
                        <div class="sidebar-item  recent">
                            <h3>Directions</h3>
                            <div class="media" id="right-panel">
                                <div class="media-body"></div>
                            </div>
                        </div>
                        <div class="sidebar-item categories">
                            <h3>Vehicule</h3>

                                {% for vehi in veh %}
                                    <div class="row">

                                            <img class="center" style="height: 100px;width: auto" src="{{ asset('AnnonceImg/')}}{{ vehi.path }}" alt="">


                                            <h5>{{ vehi.idModele.marque }} {{ vehi.idModele.modele }}</h5>




                                    </div>
                                {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#blog-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('FO/js/jquery.countdown.js')}}"></script>
    <script>
        $(document).ready(function () {

            var pics = "{{ annonce.critere }}";
            var pic = pics.split(";");
            document.getElementById("img1").src = "{{ asset('AnnonceImg/')}}"+pic[1]+".png";
            document.getElementById("img2").src = "{{ asset('AnnonceImg/')}}"+pic[2]+".png";
            document.getElementById("img3").src = "{{ asset('AnnonceImg/')}}"+pic[3]+".png";
            document.getElementById("img4").src = "{{ asset('AnnonceImg/')}}"+pic[4]+".png";



            //{{ annonce.idUser.photoProfil }}
        });

        function initMap() {
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: {
                    lat: 35.6253169,
                    lng: 10.5415953
                },
            });
            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById('right-panel'));
            calculateAndDisplayAnnonceRoute(directionsService, directionsDisplay);


        }



        function calculateAndDisplayAnnonceRoute(directionsService, directionsDisplay) {
            var from = "{{ annonce.lieuDepart }}";
            var to = "{{ annonce.lieuArrive }}";
            directionsService.route({
                origin: from,
                destination: to,
                travelMode: 'DRIVING'
            }, function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);

                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }



        $('[data-countdown]').each(function() {
            var $this = $(this),
                finalDate = $(this).data('countdown');
            $this.countdown(finalDate, function(event) {

                $this.html(event.strftime('<div class="col-xs-9 col-sm-4 col-md-4"><h5>%D Jours %H:%M:%S</h5></div>'));
            });
        });
        $('#exampleModal').on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes

            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body #recipient-name').val(recipient)
        })
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKLbJ2jywYWHOrejkKEqRkzbu3HZseuqQ&libraries=places&callback=initMap" async defer></script>

{% endblock %}